<article class="article-1">

  <h2>The Value of Money</h2>

  <div class="ar-1">

    <!-- <div class="wrap"> -->
    <img class="ar" src="img/money.webp" alt="">
    <!-- <p class="ar-p1">This is the body text for home paragraph</p> -->
    <!-- </div> -->

    <p class="ar-p2">The Value of Money
      Money serves as a medium of exchange, a store of value, and a unit of account, making it fundamental to economic
      transactions. Its value is not inherent but derived from the trust and acceptance by people and institutions
      across the globe. As economies evolve, the value of money fluctuates due to factors like inflation, interest
      rates, and economic stability. Thus, money's worth goes beyond its physical form, representing the purchasing
      power it commands in the market.</p>
  </div>
</article>

<article class="article-2">

  <h2>GMO food</h2>



  <div class="ar-1">
    <!-- <div class="wrap"> -->
    <img id="avo" class="ar" src="img/food.webp" alt="">

    <!-- <p class="ar-p1">This is the body text for home paragraph</p> -->
    <!-- </div> -->
    <p class="ar-p2">GMO Food
      Genetically modified organisms (GMOs) in food have sparked global debates over their benefits and risks. Promoters
      argue that GMOs can improve crop yields, resist pests, and enhance nutritional content, addressing food security
      related issues. Critics, however, raise concerns about potential health risks, environmental impacts, and ethical
      considerations. As GMO technology advances, it remains crucial to weigh its contributions against possible
      long-term effects on health and biodiversity.</p>
  </div>
</article>

<article class="article-3">

  <h2>The View of World in 2100</h2>

  <div class="ar-1">
    <!-- <div class="wrap"> -->
    <img class="ar" src="img/world.webp" alt="">

    <!-- <p class="ar-p1">This is the body text for home paragraph</p> -->

    <p class="ar-p2">View of the World in 2100
      By 2100, the world is likely to be vastly different, shaped by technological advancements, climate change, and
      demographic shifts. Artificial intelligence, automation, and biotechnology could revolutionize industries, while
      renewable energy might dominate global power grids. Population growth and urbanization may challenge resources,
      but innovative solutions could emerge to tackle these issues. The future world will be a testament to humanity’s
      resilience and adaptability in the face of unprecedented change.</p>
  </div>
</article>
