<div class="wrapper">
<h2 class="portfolio-h2">Portfolio</h2>
</div>

<div class="box">

  <div class="box-1">
    <figure class="img-1">
      <img class="pro" src="img/lioness.webp" alt="Lioness" />
      <figcaption>Lioness</figcaption>
    </figure>


    <!-- <h2></h2> -->
    <figure class="img-2">
      <img class="pro" src="img/cheeta.webp" alt="Picture of a cheeta" />
      <figcaption>Cheeta</figcaption>
    </figure>


    <!-- <h2></h2> -->
    <figure class="img-3">
      <img class="pro" src="img/elephant.webp" alt="Picture of an elephant" />
      <figcaption>Elephant</figcaption>
    </figure>

  </div>


  <div class="box-2">
    <!-- <h2></h2> -->
    <figure class="img-4">
      <img class="pro" src="img/giraffe.webp" alt="picture of a giraffe" />
      <figcaption>Giraffe</figcaption>
    </figure>


    <!-- <h2></h2> -->
    <figure class="img-5">
      <img class="pro" src="img/zebra.webp" alt="Picture of zebra" />
      <figcaption>Zebra</figcaption>
    </figure>


    <!-- <h2></h2> -->
    <figure class="img-6">
      <img class="pro" src="img/bear.webp" alt="Picture of a bear" />
      <figcaption>Bear</figcaption>
    </figure>
  </div>
</div>

